@import './variables.css';

*,
*::before, *::after {
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
}

body {
    user-select: none;
    background: var(--color-background);
    color: var(--color-text);
    width: 100vw;
}

a {
    color: var(--color-text);
    text-decoration: none;
}

.left {
    float: left;
}

.right {
    float: right;
}

.icon {
    width: 1em;
    height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
  }